/* RATIO 1.125 @ 16px */
/* ======================= 
======= VARIABLES ========
========================*/
:root {
  /* --- COLORS --- */
  --primary-light-300: rgb(0, 173, 99);
  --primary-dark-800: rgb(0, 66, 38);
  --accent-light-200: rgb(220, 215, 118);
  --accent-dark-800: rgb(87, 85, 46);
  --accent-gray-500: rgb(102, 102, 102);
  --accent-black-900: rgb(0, 0, 0);

  /*  --- PADDING --- */
  --padding-large: 2.2781rem;
  --padding-normal: 1.6rem;
  --padding-small: 0.9988rem;

  /*  --- MARGIN --- */
  --margin-large: 2.2781rem;
  --margin-normal: 1.6rem;
  --margin-small: 0.9988rem;
}

/* ===================== 
======= GENERIC ========
======================*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* width: 100%; */
  /* overflow: hidden; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  /* border: 2px solid red !important; */
}

a {
  text-decoration: none;
}

/* html, body {
  overflow-x: hidden;
} */

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  background: url('../assets/images/abstract2.jpg');
  /* padding: var(--padding-normal); */
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  padding: 0;
  margin: 0;
}

/* ===================== 
======= GLOBAL =========
======================*/
.btn {
}

.hidden {
  display: none;
}

.active {
}

/* ======================== 
======= TYPOGRAPHY ========
=========================*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&display=swap");

h1 {
  font-size: clamp(3.2432rem, 6.5vw, 6.576rem);
  font-size: clamp(3.2rem, 4vw, 4.2rem);
}

h2 {
  font-size: clamp(2.5632rem, 5vw, 5.1952rem);
  font-size: clamp(2.4rem, 3vw, 3.2rem);
}

h3 {
  font-size: clamp(2.0256rem, 4vw, 4.1056rem);
  font-size: clamp(1.8rem, 2.5vw, 2.2rem);
}

h4,
h5,
h6,
p,
label,
textarea,
button,
a,
input,
li {
  font-size: clamp(1.6rem, 2vw ,2rem);
  font-size: clamp(1.6rem, 2vw, 1.8rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Merriweather", serif;
}

#root {
  width: 100%;
  min-height: 100%;
  /* padding: var(--padding-small); */
  overflow-x: hidden;
  /* position: relative; */
}

/* ===================== 
======= LAYOUT =========
======================*/

/* ===================== 
======= HEADER =========
======================*/
.header {
  display: flex;
  padding: var(--padding-normal);
  /* margin-bottom: 1.6rem; */
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
  z-index: 2;
  background-color: var(--accent-gray-500);
  border-bottom: 2px solid var(--primary-light-300);
  box-shadow: inset 0 0 5rem black;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

/* .hamburger-icon-cont {
  position: relative;
  z-index: 4;
  
} */

.hamburger-icon-cont {
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: all 700ms ease-out 100ms;
  background-color: #fff;
  border-radius: 0.6rem;
}

/* .hamburger-icon {
  font-size: 4rem;
  transition: all 700ms ease-out 100ms;
} */
.hamburger-icon {
  width: 3rem;
  height: 0.4rem;
  background-color: black;
  border-radius: 0.5rem;
  transition: all 700ms ease-out 100ms;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.4rem;
  background-color: black;
  border-radius: 0.5rem;
  transition: all 700ms ease-out 100ms;
}

.hamburger-icon::before {
  transform: translateY(-1rem);
}

.hamburger-icon::after {
  transform: translateY(1rem);
}

/* HAMBURGER ANIMATION */
/* .hamburger-icon-cont.open .hamburger-icon-cont {
  background-color: blue;
} */

.hamburger-icon-cont.open .hamburger-icon {
  transform: translateX(-3rem);
  background-color: transparent;
}

.hamburger-icon-cont.open .hamburger-icon::before {
  transform: rotate(45deg) translate(2.1rem, -2.1rem);
  background-color: var(--primary-light-300)
}

.hamburger-icon-cont.open .hamburger-icon::after {
  transform: rotate(-45deg) translate(2.1rem, 2.1rem);
  background-color: var(--primary-light-300)
}

.logo-cont {
  display: flex;
  align-items: center;
}

.logo {
  width: 5.682rem;
  height: auto;
  position: relative;
  /* z-index: 9999; */
}

.logo-text, .mobile-nav-logo-text {
  font-family: "Merriweather", serif;
  white-space: nowrap;
  font-size: clamp(2.4rem, 3vw, 3.2rem);
  margin-left: 0.4rem;
  position: relative;
  /* z-index: 4; */
  transition: all 700ms ease-out 100ms;
  text-shadow: 2px 2px 2px white, -2px 2px 2px white, 2px -2px 2px white,
    1px 2px 2px white, 2px 1px 2px white, -1px 2px 2px white, 2px -1px 2px white,
    1px -2px 2px white, -2px 1px 2px white, -1px -2px 2px white,
    -2px -1px 2px white, 1px 1px 2px white, -1px -1px 2px white,
    -1px 1px 2px white, 1px -1px 2px white, 0px 2px 2px white, 2px 0px 2px white,
    -2px 0px 2px white, 0px -2px 2px white, 0px 1px 2px white, 1px 0px 2px white,
    0px -1px 2px white, -1px 0px 2px white, 0px 0px 2px white,
    5px 5px 10px black;
}

.mobile-nav-cont {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 70%;
  width: 100%;
  background-color: var(--accent-black-900);
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  /* transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 2s; */
}

.mobile-nav {
  width: 100%;
  height: 100%;
  color: white;
  /* position: relative; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-black-900);
  /* background-color: pink; */
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.mobile-nav-home {
  margin-top: var(--margin-large);
}

.mobile-nav-contact {
  margin-bottom: var(--margin-large);
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  /* background-color: var(--accent-black-900); */
  /* background-color: aqua; */
  position: absolute;
  bottom: 0;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: var(--padding-normal);
  /* justify-content: space-between; */
  width: 100%;
  height: 80%;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.mobile-nav-item {
  /* margin: var(--margin-small) 0; */
  font-size: clamp(1.8rem, 2.5vw, 2.2rem);
  font-weight: 700;
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 10%;
  line-height: 1;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid white;

}

.mobile-nav-item i {
  margin-right: var(--margin-small);
}

.mobile-nav-item:hover {
  background-color: var(--primary-light-300);
  cursor: pointer;
}

.mobile-nav-logo-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: var(--margin-normal); */
}

.mobile-nav-logo {
  /* align-self: center; */
  width: 7.3978rem;
  height: auto;
}

.mobile-nav-logo-text {
  text-shadow: 2px 2px 2px var(--accent-gray-500), -2px 2px 2px var(--accent-gray-500), 2px -2px 2px var(--accent-gray-500),
    1px 2px 2px var(--accent-gray-500), 2px 1px 2px var(--accent-gray-500), -1px 2px 2px var(--accent-gray-500), 2px -1px 2px var(--accent-gray-500),
    1px -2px 2px var(--accent-gray-500), -2px 1px 2px var(--accent-gray-500), -1px -2px 2px var(--accent-gray-500),
    -2px -1px 2px var(--accent-gray-500), 1px 1px 2px var(--accent-gray-500), -1px -1px 2px var(--accent-gray-500),
    -1px 1px 2px var(--accent-gray-500), 1px -1px 2px var(--accent-gray-500), 0px 2px 2px var(--accent-gray-500), 2px 0px 2px var(--accent-gray-500),
    -2px 0px 2px var(--accent-gray-500), 0px -2px 2px var(--accent-gray-500), 0px 1px 2px var(--accent-gray-500), 1px 0px 2px var(--accent-gray-500),
    0px -1px 2px var(--accent-gray-500), -1px 0px 2px var(--accent-gray-500), 0px 0px 2px var(--accent-gray-500),
    5px 5px 10px white;
}

/* ======================== 
======= NAVIGATION ========
=========================*/

/* ===================== 
======= MAIN ===========
======================*/
.main {
  text-align: center;
  /* position: relative; */
  padding: var(--padding-normal);
}

.punchline-cont {
  background-image: url("../assets/images/housefire.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: fit-content; */
  min-height: 40vh;
  /* max-height: 50vh; */
  position: relative;
  border-radius: 0.6rem;
}

.punchline-cont-overlay {
  position: absolute;
  /* z-index: 1; */
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: white;
  padding: var(--padding-small);
  border-radius: 0.6rem;
}

.punchline-text-cont {
  text-align: left;
}

.punchline-text-cont h1 {
  line-height: 1.5;
}

.punchline-text-cont p {
  text-align: center;
}


.emergency-service-cont {
  background-color: red;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 6.8rem;
}

.emergency-service-cont:hover {
  background-color: white;
}

.emblem-cont {
  display: flex;
  width: 100%;
}

.emblem {
  /* background-position: center; */
  /* background-size: cover; */
  min-width: 10%;
  height: auto;
  position: relative;
}

.emblem-overlay {
  position: absolute;
  inset: 0;
  color: red;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-cont {
  background-color: red;
  display: flex;
  position: absolute;
  bottom: 0.9988rem;
  left: 0.9988rem;
  right: 0.9988rem;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.883rem;
  padding: var(--padding-small);
  min-height: 6.8rem;
}

/* ===================== 
======= FOOTER =========
======================*/
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--padding-normal);
  /* margin-bottom: 1.6rem; */
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background-color: var(--accent-gray-500);
  border-top: 2px solid var(--primary-light-300);
  box-shadow: inset 0 0 10rem black;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.copyright-cont {
  width: 100%;
  text-align: left;
  position: fixed;
  bottom: 0;
  color: #fff;
}

.footer-content-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.social-cont {
  font-size: 2.883rem;
}

.white {
  color: white;
}

.gray {
  background-color: var(--accent-gray-500);
}

.green-outline {
  text-shadow: 2px 2px 2px rgb(0, 173, 99), -2px 2px 2px rgb(0, 173, 99), 2px -2px 2px rgb(0, 173, 99),
  1px 2px 2px rgb(0, 173, 99), 2px 1px 2px rgb(0, 173, 99), -1px 2px 2px rgb(0, 173, 99), 2px -1px 2px rgb(0, 173, 99),
  1px -2px 2px rgb(0, 173, 99), -2px 1px 2px rgb(0, 173, 99), -1px -2px 2px rgb(0, 173, 99),
  -2px -1px 2px rgb(0, 173, 99), 1px 1px 2px rgb(0, 173, 99), -1px -1px 2px rgb(0, 173, 99),
  -1px 1px 2px rgb(0, 173, 99), 1px -1px 2px rgb(0, 173, 99), 0px 2px 2px rgb(0, 173, 99), 2px 0px 2px rgb(0, 173, 99),
  -2px 0px 2px rgb(0, 173, 99), 0px -2px 2px rgb(0, 173, 99), 0px 1px 2px rgb(0, 173, 99), 1px 0px 2px rgb(0, 173, 99),
  0px -1px 2px rgb(0, 173, 99), -1px 0px 2px rgb(0, 173, 99), 0px 0px 2px rgb(0, 173, 99),
  5px 5px 10px black;
}

.white-outline {
  text-shadow: 2px 2px 2px white, -2px 2px 2px white, 2px -2px 2px white,
    1px 2px 2px white, 2px 1px 2px white, -1px 2px 2px white, 2px -1px 2px white,
    1px -2px 2px white, -2px 1px 2px white, -1px -2px 2px white,
    -2px -1px 2px white, 1px 1px 2px white, -1px -1px 2px white,
    -1px 1px 2px white, 1px -1px 2px white, 0px 2px 2px white, 2px 0px 2px white,
    -2px 0px 2px white, 0px -2px 2px white, 0px 1px 2px white, 1px 0px 2px white,
    0px -1px 2px white, -1px 0px 2px white, 0px 0px 2px white,
    5px 5px 10px black;
}

/* ============================ 
======= SERVICES PAGE =========
=============================*/
.sp-main-title-cont {
  margin: var(--margin-large) 0;
}

.sp-services-cont {

}

.sp-service {
  background-color: red;
  border-radius: 0.6rem;
  padding: var(--padding-normal);
  margin: var(--margin-normal) 0;
}

.sp-service-para{
  background-color: #fff;
  border-radius: 0.6rem;
  padding: var(--padding-normal);
  display: none;
}

.sp-service-title i {
  margin-right: var(--margin-small);
}

.is-open {
  /* display: block; */
}
/* ======================= 
======= MEDIA Q'S ========
========================*/
@media screen and (min-width: 768px) {
  .hamburger-icon-cont {
    display: none;
  }
} 


.carousel-control-next-icon {
  color: black;
}

.message-form {
  background-color: green;
  padding: var(--padding-large);
}