.logoCont {
    display: flex;
    align-items: center;
}

.logoText {
    font-family: 'Merriweather', serif;
    white-space: nowrap;
    font-size: clamp(2.4rem, 3vw, 3.2rem);
    margin-left: 0.4rem;
}